.about-us__container {
  position: relative;
  padding-left: 121px;
}

.about-us__title {
  padding-top: 91px;
  max-width: 549px;
}

.about-us__title > span {
  color: var(--text-secondary-color);
}

.about-us__subtitle {
  padding: 30px 0 134px 0;
  max-width: 384px;
}

/*----------------*/

.carousel {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.carousel .carousel__item,
.carousel .carousel__item--hidden {
  display: none;
}

.carousel .carousel__item .carousel__item__inner {
  width: 100%;
  background: url('../../assets/billboard-background.jpg') no-repeat;
  height: auto;
}

.carousel .carousel__item--visible {
  display: block;
  animation: fadeVisibility 0.5s;
  animation-timing-function: linear;
}

.carousel .carousel__actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel .carousel__actions button {
  background: #ffffff;
  color: var(--text-secondary-color);
  padding: 15px;
  font-size: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.carousel .carousel__actions button#carousel__button--prev {
  margin-left: 29px;
}

.carousel .carousel__actions button#carousel__button--next {
  margin-right: 28px;
}

@keyframes fadeVisibility {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}
