.header__container {
  padding: 0 124px 0 121px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header__link {
  padding: 12px 0 10px;
  border: 1px solid transparent;
}

.header__link:focus {
  outline: none;
  border: 1px solid var(--text-secondary-color);
}

.navigation__items {
  display: flex;
}

.navigation__item {
  padding-left: 43px;
  font-weight: 500;
  font-size: 14px;
  line-height: 166.7%;
}

.navigation__item:first-child {
  padding-left: 66px;
}

.navigation__link {
  color: var(--text-main-color);
  border-bottom: 1px solid transparent;
  transition: var(--hover-transition);
}

.navigation__link:hover {
  color: var(--text-secondary-color);
  border-bottom: 1px solid var(--text-secondary-color);
}

.navigation__link:focus {
  outline: none;
  color: var(--text-secondary-color);
  border-bottom: 1px solid var(--text-secondary-color);
}

.header__map {
  margin-left: 65px;
  white-space: nowrap;
  font-weight: 500;
  font-size: 11px;
  line-height: 166.7%;
}

.header__map > button:focus {
  outline: none;
  border-bottom: 1px solid var(--text-secondary-color);
}

.header__map__icon {
  width: 15px;
  height: 15px;
  padding-right: 6px;
}

.header__social {
  display: flex;
  padding-left: 17px;
}

.header__social__link {
  display: flex;
  align-items: center;
  margin-left: 23px;
}
