.manual__container {
  padding: 91px 150px 176px 121px;
  position: relative;
  background-image: url('../../assets/manual/window-background--picture.jpg');
  background-size: cover;
}

.manual__subtitle {
  padding-top: 11px;
  max-width: 577px;
}

.manual__subtitle > a {
  color: var(--text-secondary-color);
  transition: var(--hover-transition);
  border-bottom: 1px solid transparent;
}

.manual__subtitle > a:hover,
.manual__subtitle > a:focus {
  border-bottom: 1px solid var(--text-secondary-color);
}

.manual__subtitle:first-child {
  padding-top: 24px;
}
