/* Это можно смело удалять*/

.container--modals {
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kek {
  padding: 50px 0;
}

/*------------------------*/

.modal {
  width: 100%;
  max-width: 543px;
  background: var(--text-button-color);
  border-radius: 25px;
}

.modal--text {
  max-width: 575px;
}

.modal__container {
  width: 100%;
  max-width: 543px;
  max-height: 620px;
  padding: 0 65px 34px 65px;
  display: flex;
  flex-direction: column;
}

.modal__container--text {
  padding: 0 0 44px 64px;
}

.modal__subtitle {
  font-weight: 600;
  font-size: 19px;
  line-height: 179%;
  padding-top: 17px;
}

.modal__subtitle:first-child {
  padding-top: 22px;
}

.modal__description {
  color: var(--subtext-color);
  padding: 10px 0 19px 0;
}

.modal__select {
  appearance: none;
  background: url('../../assets/modals/arrow.svg') no-repeat 95% center;
  outline: 0;
}

.modal__button {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 0 0;
}

.modal__button__close {
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: 6px;
}

.modal__button__close:focus {
  box-shadow: var(--box-shadow);
}

.modal__button__close:before,
.modal__button__close:after {
  content: '';
  position: absolute;
  width: 26px;
  height: 3px;
  background-color: var(--background-button-color);
  border-radius: 2px;
  top: 16px;
}

.modal__button__close:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 2px;
}
.modal__button__close:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 2px;
}

.modal__button__checkout {
  padding: 11px 0 14px 0;
  border: 1px solid transparent;
  transition: var(--hover-transition);
}

.modal__button__checkout:hover,
.modal__button__checkout:focus {
  outline: none;
  border: 1px solid var(--background-button-color);
  background: var(--text-button-color);
  color: var(--background-button-color);
}

.modal__offer {
  padding-top: 15px;
  font-weight: 500;
  font-size: 11px;
  line-height: 166.7%;
  text-align: center;
  color: var(--text-placeholder-color);
}

.modal__offer__link {
  color: var(--text-secondary-color);
  border-bottom: 1px solid transparent;
  transition: var(--hover-transition);
}

.modal__offer__link:hover,
.modal__offer__link:focus {
  outline: none;
  border-bottom: 1px solid var(--text-secondary-color);
}

.modal__text {
  padding-right: 64px;
}

.modal__text > p {
  padding-bottom: 5px;
}

.modal__text > p:last-child {
  padding-bottom: 0;
}

.modal__info {
  display: flex;
  justify-content: space-between;
}

.modal__info--bold {
  padding: 10px 0 19px 0;
  font-weight: 700;
}
