.products__container--services {
  padding: 0 121px 0 118px;
}

.products__container--certificates {
  padding: 0 121px 0 118px;
}

.products__page-title {
  padding-left: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products__title-link {
  display: flex;
  align-items: center;
  color: var(--text-secondary-color);
  font-weight: 700;
  line-height: 18px;
  border-bottom: 1px solid transparent;
  transition: var(--hover-transition);
}

.products__title-link:hover {
  border-bottom: 1px solid var(--text-secondary-color);
}

.products__title-link:focus {
  outline: none;
  border-bottom: 1px solid var(--text-secondary-color);
}

.products__title-link__icon {
  padding-left: 8px;
}

.products__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 38px;
}

.products__cards:first-child {
  padding-top: 56px;
}

.products__cards:last-child {
  padding-bottom: 87px;
}

.products__card {
  margin-right: 38px;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-container);
  flex: 0 0;
}

.products__card:last-child {
  margin-right: 0;
}

.products__card__picture {
  border-top-left-radius: var(--border-radius-container);
  border-top-right-radius: var(--border-radius-container);
}

.products__card__text {
  padding: 24px 30px 29px 30px;
}

.products__card__title {
  font-weight: 600;
  font-size: 19px;
  line-height: 34px;
}

.products__card__readmore {
  padding-top: 21px;
  display: flex;
  align-items: center;
}

.products__card__readmore__button {
  padding: 11px 32px 14px;
  border: 1px solid transparent;
  transition: var(--hover-transition);
}

.products__card__readmore__button:hover,
.products__card__readmore__button:focus {
  border: 1px solid var(--text-secondary-color);
  background: var(--text-button-color);
  color: var(--text-secondary-color);
}

.products__card__readmore__text {
  padding-left: 48px;
  font-weight: 600;
  font-size: 19px;
  line-height: 179%;
}

.products__card__readmore__text > span {
  color: var(--text-secondary-color);
}
