.search__container {
  padding: 37px 0 37px 0;
  margin: 0 121px 0 118px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 166.7%;
  color: var(--text-secondary-color);
  border-top: 1px solid var(--border-section-color);
  border-bottom: 1px solid var(--border-section-color);
}

.search__catalog {
  display: flex;
  color: var(--text-secondary-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 166.7%;
  transition: var(--hover-transition);
  border-bottom: 1px solid transparent;
}

.search__catalog:hover {
  border-bottom: 1px solid var(--text-secondary-color);
}

.search__catalog:focus {
  outline: none;
  border-bottom: 1px solid var(--text-secondary-color);
}

.search__catalog__icon {
  padding-right: 6px;
}

.search__select {
  margin-left: 48px;
  font-weight: 700;
  font-size: 14px;
  line-height: 166.7%;
  color: var(--text-secondary-color);
  cursor: pointer;
  transition: var(--hover-transition);
  border-bottom: 1px solid transparent;
}

.search__select:focus {
  outline: none;
  border-bottom: 1px solid var(--text-secondary-color);
}

.search__info {
  padding-left: 43px;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.search__info__title {
  font-weight: 600;
  font-size: 15px;
  line-height: 97.9%;
  color: var(--text-main-color);
}

.search__info__subtitle {
  padding: 0 0 5px 1px;
  font-weight: 500;
  font-size: 12px;
  line-height: 166.7%;
  color: var(--subtext-color);
}

.search__label {
  width: 100%;
  max-width: 400px;
  margin-left: 48px;
  display: flex;
  background: var(--background-color);
  border-radius: 6px;
}

.search__input {
  width: 100%;
  padding: 7px 0 9px 33px;
  font-size: 15px;
  line-height: 166.7%;
  background: var(--background-color);
  border-radius: 6px;
}

.search__label__button {
  margin: 11px 27px 12px 5px;
}

.search__user {
  margin-left: 48px;
  transition: var(--hover-transition);
  border: 1px solid transparent;
}

.search__user:focus {
  outline: none;
  border: 1px solid var(--text-secondary-color);
}

.search__shopping-basket {
  margin-left: 48px;
  display: flex;
  transition: var(--hover-transition);
}

.search__shopping-basket > .search__shopping-basket__text > p:first-child {
  border-bottom: 1px solid transparent;
}

.search__shopping-basket:focus > .search__shopping-basket__text > p:first-child {
  outline: none;
  border-bottom: 1px solid var(--text-secondary-color);
}

.search__shopping-basket__text {
  padding-left: 11px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  white-space: nowrap;
}

.search__shopping-basket__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: var(--text-secondary-color);
}

.search__shopping-basket__subtitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 166.7%;
  color: var(--text-placeholder-color);
}
