.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.logotype {
  width: 100%;
  height: 100%;
}

.title {
  font-weight: 600;
  font-size: var(--title-font-size);
  line-height: 121%;
}

.subtitle {
  color: var(--subtext-color);
  line-height: 162%;
  font-size: 16px;
  font-weight: 400;
}

.main-button {
  background: var(--background-button-color);
  border-radius: 12px;
  font-weight: 600;
  color: var(--text-button-color);
}

.arrow {
  width: 10px;
  height: 10px;
  border-top: 3px solid var(--text-secondary-color);
  border-right: 3px solid var(--text-secondary-color);
  border-radius: 1px;
}

.slider__button {
  background: #ffffff;
  position: absolute;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.slider__arrow--right {
  transform: rotate(45deg);
}

.slider__arrow--left {
  transform: rotate(-135deg);
}
