@media (max-width: 1440px) {
  .search__container {
    display: none;
  }

  .navigation {
    display: none;
  }

  .header__map {
    display: none;
  }

  .header__social {
    display: none;
  }

  .nav__burger,
  .header__shopping-cart {
    display: block;
  }

  .header__container {
    justify-content: space-between;
    padding: 0 75px 0 29px;
    border-bottom: 1px solid var(--border-section-color);
  }

  .feedback__inner {
    justify-content: center;
    align-items: center;
  }

  .feedback__form {
    padding-bottom: 30px;
  }
}

@media (max-width: 1414px) {
  .products__card:nth-of-type(3n) {
    margin-right: 25px;
  }

  .products__card:nth-of-type(2n) {
    margin-right: 0;
  }
}

@media (max-width: 1089px) {
  .delivery-block__inner {
    flex-wrap: wrap;
  }

  .slider__item.next,
  .slider__item.prev {
    display: none;
  }

  .feedback__inner {
    flex-wrap: wrap;
  }

  .footer__container {
    padding: 0 20px 67px 20px;
  }

  .footer__partition {
    position: relative;
    padding: 26px 46px 0 0;
  }

  .footer__link-up__clouds {
    top: 30px;
    left: -30px;
    right: 0;
  }

  .footer__contact {
    padding-right: 10px;
  }

  .basket__card {
    flex-wrap: wrap;
  }

  .basket__container {
    padding: 0 29px 92px 29px;
  }

  .basket__card__action {
    flex-wrap: wrap;
  }

  .basket__card__buttons {
    flex-wrap: wrap;
  }

  .basket__card__button__delete {
    padding: 0;
  }

  .basket__card__inner {
    padding-left: 21px;
  }

  .basket__summary-card {
    padding: 31px 27px 42px;
  }
}
@media (max-width: 1089px) {
  .products__card:nth-of-type(2n) {
    margin-right: 25px;
  }
}
@media (max-width: 815px) {
  .products__title-link {
    display: none;
  }

  .products__title-link--mobile {
    display: block;
    padding-right: 20px;
    text-align: end;
  }

  .products__container--services,
  .products__container--certificates {
    padding: 0 0 30px 0;
  }

  .footer__inner {
    flex-direction: column;
  }

  .breadcrumbs__container {
    padding-left: 29px;
  }

  .feedback__title {
    padding-left: 29px;
  }
}

@media (max-width: 707px) {
  .about-us__container {
    padding: 0 0 184px 60px;
  }

  .carousel .carousel__actions {
    top: 68%;
  }

  .carousel .carousel__actions button#carousel__button--prev {
    margin-left: 0;
  }

  .carousel .carousel__actions button#carousel__button--next {
    margin-right: 0;
  }

  .slider__items .slider__item {
    margin: 0;
    padding: 16px 31px 17px 27px;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slider__item__inner {
    flex-direction: column;
    align-items: center;
  }

  .reviews__container {
    padding: 0 0 150px 20px;
  }

  .slider__items {
    padding: 100px 0 250px 0;
  }

  .slider__item__picture {
    margin-bottom: 15px;
  }

  .slider__item.next,
  .slider__item.prev {
    display: none;
  }

  .questions__container {
    padding: 0 29px;
  }

  .feedback__container {
    padding: 0;
  }

  .feedback__map > ymaps {
    max-width: 414px;
  }

  .feedback__map {
    margin-left: 0;
  }
}

@media (max-width: 550px) {
  .delivery-block__container {
    margin: -40px 60px -100px 60px;
  }

  .basket__card__price--desktop {
    display: none;
  }

  .basket__card__price--mobile {
    display: block;
    margin: 0 auto 0 0;
  }

  .basket__card__conditions {
    padding-top: 7px;
  }

  .feedback__form {
    padding: 0 29px 23px;
  }
}

@media (max-width: 416px) {
  .carousel .carousel__item .carousel__item__inner {
    max-height: none;
    background: url('../assets/about-us/billboard--mobile.jpg') no-repeat;
  }

  .carousel .carousel__actions {
    top: 50%;
  }

  .about-us__container {
    padding: 0 0 184px 30px;
  }

  .about-us__title {
    max-width: 360px;
    padding-top: 34px;
  }

  .carousel__button {
    padding: 7px;
  }

  .delivery-block__container {
    margin: -90px 43px -100px 43px;
    padding-bottom: 143px;
  }

  .products__page-title {
    padding-left: 29px;
  }

  .products__card,
  .products__card:last-child {
    margin-right: 0;
  }

  .manual__container {
    padding: 41px 27px 0 29px;
    height: 839px;
    background: url('../assets/manual/window-background--mobile.jpg') no-repeat;
    background-size: cover;
  }

  .products__card__picture {
    width: 100%;
  }
}

@media (max-width: 376px) {
  .feedback__map > ymaps {
    max-width: 375px;
  }
}

@media (max-width: 321px) {
  .feedback__map > ymaps {
    max-width: 320px;
  }

  .footer__partition {
    padding: 26px 23px 0 0;
  }

  .feedback__form {
    padding: 0 10px 23px;
  }
}
