:root {
  --text-main-color: #000;
  --text-secondary-color: #2c4cbc;
  --subtext-color: #949494;
  --text-placeholder-color: #a7a7a7;
  --background-color: #f3f4f8;
  --text-button-color: #fff;
  --background-button-color: #2c4cbc;
  --border-input-color: #d3d3d3;
  --border-section-color: #e3e3e3;
  --border-card-color: #e6e5ec;
  --title-font-size: 28px;
  --box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.09);
  --filter-shadow: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.29));
  --border-radius-container: 19px;
  --hover-transition: 0.5s;
}
